<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta charset="utf-8">
    <title>ROAM Edit Review of {{city}}</title>
  </head>
  <body class="container-fluid">
   {{> loggedinnav }}
    <div class="jumbotron" style="background-image:url(/images/roam_signin.jpg);background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 40% 70%; height:500px;">
      <h1 style=" color:white;">ROAM</h1>
      <p style=" color:white;">Get the real experience when you travel.</p>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <h1>Edit Review</h1>
      <div class="row">
        <div class=".col-xs-6 .col-md-4"></div>
        <div class=".col-xs-6 .col-md-4">
          <form method="post" action="/review/edit/{{id}}" class="form-horizontal" ".col-xs-6 .col-md-4">
            <div class="form-group">
              <label class="col-sm-2 control-label">City</label>
              <div class="col-sm-7">
                <input type="text" class="form-control"  value="{{city}}" name="city">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Tip</label>
              <div class="col-sm-7">
                <textarea type="text" class="form-control" name="tip">{{tip}}</textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Image URL</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" value="{{city_image}}" name="city_image">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-7">
                <form>
                <input type="radio" name="true" value="true"><i style="font-size: 3rem;" class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                  <div class="col-sm-7"></div>
                <input type="radio" name="false" value="false"> <i style="font-size: 3rem;" class="fa fa-thumbs-o-down" aria-hidden="true"></i>
              </form>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Update</button>
              </div>
            </div>
          </form>
        </div>
        <div class=".col-xs-6 .col-md-4"></div>
      </div>
    </div>
  </body>
</html>
