<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>ROAM Profile {{user.username}}</title>
  </head>
  <body>
    <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{user.user_image}}" alt="{{user.username}}">
      <div class="caption">
        <h3>{{user.username}}</h3>
        {{#each reviews}}
        <p>{{city}}</p>
        <p><a href="#" class="btn btn-primary" role="button">Edit</a></p>
        {{/each}}
      </div>
    </div>
  </div>
</div>
  </body>
</html>
